<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768857945063-mo6apujb0fhca0u18d1fm43k54v6qg1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768857945063-mo6apujb0fhca0u18d1fm43k54v6qg1r</string>
	<key>API_KEY</key>
	<string>AIzaSyDv0MqbxoeMzvA4hCPJwtBlbzN7Zlm9vXI</string>
	<key>GCM_SENDER_ID</key>
	<string>768857945063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibrahim-attalla.Sharing-Images-Demo</string>
	<key>PROJECT_ID</key>
	<string>sharing-images-984fb</string>
	<key>STORAGE_BUCKET</key>
	<string>sharing-images-984fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768857945063:ios:5b622d0bccb0068aa38342</string>
	<key>DATABASE_URL</key>
	<string>https://sharing-images-984fb.firebaseio.com</string>
</dict>
</plist>